In [1]:
import sqlite3
import pandas as pd

# The Master Connection - Use this for the rest of the project
DB_PATH = "World_Mineral_Archive.db"

def run_query(query):
    """A helper function to quickly see results in your notebook"""
    conn = sqlite3.connect(DB_PATH)
    df = pd.read_sql(query, conn)
    conn.close()
    return df

print("âœ… Connected to World_Mineral_Archive.db")
print("Ready for analysis and US data integration.")

âœ… Connected to World_Mineral_Archive.db
Ready for analysis and US data integration.

In [2]:
def get_archive_status():
    conn = sqlite3.connect(DB_PATH)
    
    # 1. Get Table Names
    tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table'", conn)
    
    print("ðŸ“‚ --- WORLD MINERAL ARCHIVE DASHBOARD --- ðŸ“‚")
    for table in tables['name']:
        if table == 'sqlite_sequence': continue
        
        # 2. Get row counts for each table
        count = conn.execute(f"SELECT COUNT(*) FROM {table}").fetchone()[0]
        print(f"ðŸ”¹ Table: {table:<15} | Rows: {count:,}")
    
    conn.close()

get_archive_status()

ðŸ“‚ --- WORLD MINERAL ARCHIVE DASHBOARD --- ðŸ“‚
ðŸ”¹ Table: BGS_Global      | Rows: 408,480

In [4]:
conn = sqlite3.connect(DB_PATH)
# This lists the actual column names in your BGS_Global table
columns = conn.execute("PRAGMA table_info(BGS_Global)").fetchall()
for col in columns:
    print(f"ðŸ“ Column Found: {col[1]}")
conn.close()

ðŸ“ Column Found: yearbook_table_trans
ðŸ“ Column Found: bgs_commodity_code
ðŸ“ Column Found: units
ðŸ“ Column Found: bgs_statistic_type_trans
ðŸ“ Column Found: bgs_commodity_trans
ðŸ“ Column Found: concat_table_notes_code
ðŸ“ Column Found: country_trans
ðŸ“ Column Found: bgs_sub_commodity_trans
ðŸ“ Column Found: concat_table_notes_text
ðŸ“ Column Found: country_iso2_code
ðŸ“ Column Found: erml_group
ðŸ“ Column Found: concat_figure_notes_code
ðŸ“ Column Found: year
ðŸ“ Column Found: country_iso3_code
ðŸ“ Column Found: erml_commodity
ðŸ“ Column Found: concat_figure_notes_text
ðŸ“ Column Found: pole_of_inaccessibility_longitude
ðŸ“ Column Found: erml_sub_commodity
ðŸ“ Column Found: yearbook_table_id
ðŸ“ Column Found: pole_of_inaccessibility_latitude
ðŸ“ Column Found: cgi_commodity_url
ðŸ“ Column Found: quantity
ðŸ“ Column Found: year_clean
ðŸ“ Column Found: shape

In [13]:
import sqlite3
import pandas as pd

DB_PATH = "World_Mineral_Archive.db"

def inspect_lithium_raw():
    conn = sqlite3.connect(DB_PATH)
    
    # Selecting ALL columns for Lithium to see what's hidden in the sub-commodities
    query = """
    SELECT * FROM BGS_Global 
    WHERE bgs_commodity_trans LIKE '%Lithium%' 
    AND year_clean = '1983'
    ORDER BY quantity DESC
    """
    
    df = pd.read_sql(query, conn)
    conn.close()
    return df

# This will show you the wide view with all the technical columns
df_lithium = inspect_lithium_raw()
df_lithium

,yearbook_table_trans,bgs_commodity_code,units,bgs_statistic_type_trans,bgs_commodity_trans,concat_table_notes_code,country_trans,bgs_sub_commodity_trans,concat_table_notes_text,country_iso2_code,...,erml_commodity,concat_figure_notes_text,pole_of_inaccessibility_longitude,erml_sub_commodity,yearbook_table_id,pole_of_inaccessibility_latitude,cgi_commodity_url,quantity,year_clean,shape
0,Production of lithium minerals,892,tonnes (metric),Production,lithium minerals,None,Soviet Union,None,None,SU,...,Lithium minerals,Estimates.,82.510000,None,84,55.510000,http://resource.geosciml.org/classifier/cgi/co...,55000.0,1983,None
1,Production of lithium minerals,892,tonnes (metric),Production,lithium minerals,None,Zimbabwe,None,None,ZW,...,Lithium minerals,None,29.851884,None,84,-19.002536,http://resource.geosciml.org/classifier/cgi/co...,19193.0,1983,None
2,Exports of lithium,708,tonnes (metric),Exports,lithium,None,Zimbabwe,Lithium minerals,None,ZW,...,None,None,29.851884,None,85,-19.002536,None,16172.0,1983,None
3,Production of lithium minerals,892,tonnes (metric),Production,lithium minerals,None,China,None,None,CN,...,Lithium minerals,Estimates.,109.537431,None,84,32.216659,http://resource.geosciml.org/classifier/cgi/co...,15000.0,1983,None
4,Exports of lithium,707,tonnes (metric),Exports,lithium,None,USA,Carbonate,None,US,...,Lithium,None,-97.834383,Carbonate,85,39.139831,http://resource.geosciml.org/classifier/cgi/co...,8065.0,1983,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Exports of lithium,709,tonnes (metric),Exports,lithium,None,Belgium-Luxembourg,Oxides,None,None,...,Lithium,None,5.200000,Oxides,85,50.270000,http://resource.geosciml.org/classifier/cgi/co...,2.0,1983,None
57,Production of lithium minerals,894,tonnes (metric),Production,lithium minerals,None,Brazil,Lepidolite,None,BR,...,Lithium minerals,None,-49.028010,Lepidolite,84,-12.408957,http://resource.geosciml.org/classifier/cgi/co...,1.0,1983,None
58,Production of lithium minerals,892,tonnes (metric),Production,lithium minerals,None,Canada,None,None,CA,...,Lithium minerals,None,-119.677633,None,84,59.205384,http://resource.geosciml.org/classifier/cgi/co...,0.0,1983,None
59,Exports of lithium,707,tonnes (metric),Exports,lithium,None,Chile,Carbonate,None,CL,...,Lithium,None,-69.731919,Carbonate,85,-26.162883,http://resource.geosciml.org/classifier/cgi/co...,0.0,1983,None
60,Production of lithium minerals,892,tonnes (metric),Production,lithium minerals,None,Chile,None,None,CL,...,Lithium minerals,Carbonate.,-69.731919,None,84,-26.162883,http://resource.geosciml.org/classifier/cgi/co...,0.0,1983,None

In [8]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("World_Mineral_Archive.db")

# This counts how many records you have for every year in the database
query = """
SELECT year_clean, COUNT(*) as record_count 
FROM BGS_Global 
GROUP BY year_clean 
ORDER BY year_clean DESC
"""

df_years = pd.read_sql(query, conn)
print("ðŸ“… Data Coverage Timeline:")
print(df_years)

conn.close()

ðŸ“… Data Coverage Timeline:
   year_clean  record_count
0        2023          2973
1        2022          2970
2        2021          2971
3        2020          2975
4        2019          2947
5        2018          6501
6        2017          6527
7        2016          6457
8        2015          6349
9        2014          7103
10       2013          7023
11       2012          7009
12       2011          7384
13       2010          7133
14       2009          7135
15       2008          6974
16       2007          6877
17       2006          6756
18       2005          6649
19       2004          6654
20       2003          6460
21       2002         10383
22       2001         10488
23       2000         10711
24       1999         10667
25       1998         10489
26       1997          9964
27       1996          9660
28       1995          9423
29       1994          9372
30       1993          9005
31       1992          8978
32       1991          9173
33       1990          9178
34       1989          9111
35       1988          8581
36       1987          8599
37       1986          8740
38       1985          8652
39       1984          8548
40       1983          8412
41       1982          8488
42       1981          8425
43       1980          8301
44       1979          8200
45       1978          8036
46       1977          8039
47       1976          7689
48       1975          7461
49       1974          7000
50       1973          6417
51       1972          6356
52       1971          6073
53       1970          6034

In [37]:
import sqlite3
import pandas as pd

DB_PATH = "World_Mineral_Archive.db"

def get_clean_lithium_report():
    conn = sqlite3.connect(DB_PATH)
    
    # Applying your specific renaming structure
    query = """
    SELECT 
        year_clean AS year,
        country_trans AS country,
        country_iso2_code AS iso_code,
        bgs_statistic_type_trans AS statistic_type,
        bgs_commodity_trans AS commodity,
        bgs_sub_commodity_trans AS sub_commodity,
        quantity,
        units,
        concat_figure_notes_text AS foot_notes
    FROM BGS_Global 
    WHERE LOWER(bgs_commodity_trans) LIKE '%lithium%'
    AND LOWER(bgs_statistic_type_trans) = 'production'
    ORDER BY year ASC, country ASC
    """
    
    df = pd.read_sql(query, conn)
    conn.close()
    return df

# To view the renamed data:
df_lithium_final = get_clean_lithium_report()
display(df_lithium_final)

,year,country,iso_code,statistic_type,commodity,sub_commodity,quantity,units,foot_notes
0,1974,Argentina,AR,Production,lithium minerals,None,164.0,tonnes (metric),None
1,1974,Brazil,BR,Production,lithium minerals,Amblygonite,171.0,tonnes (metric),None
2,1974,Brazil,BR,Production,lithium minerals,Lepidolite,460.0,tonnes (metric),None
3,1974,Brazil,BR,Production,lithium minerals,Petalite,3569.0,tonnes (metric),None
4,1974,Brazil,BR,Production,lithium minerals,Spodumene,1200.0,tonnes (metric),None
...,...,...,...,...,...,...,...,...,...
891,2023,Zimbabwe,ZW,Production,lithium minerals,Spodumene (Li content),12963.0,tonnes (metric),None
892,2023,Zimbabwe,ZW,Production,lithium minerals,Lepidolite (Li content),10.0,tonnes (metric),None
893,2023,Zimbabwe,ZW,Production,lithium minerals,Lepidolite,3446.0,tonnes (metric),None
894,2023,Zimbabwe,ZW,Production,lithium minerals,Petalite,301004.0,tonnes (metric),None
895,2023,Zimbabwe,ZW,Production,lithium minerals,Spodumene,465636.0,tonnes (metric),None